@import "/src/assets/styles/abstracts/variables.scss";

ul{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
li{
    float:left;
    padding : 15px;
    
}
.button{
    height: 20px;
}