@import "/src/assets/styles/abstracts/variables.scss";

ul{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
li{
    float:left;
    padding : 15px;
    
}
.buttontab{
    padding: 0 30px;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500; 
}

.item.img{
    width: 50px;
    height: 100px;
}